@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 215 25% 17%;
    --card: 0 0% 100%;
    --card-foreground: 215 25% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 25% 17%;
    --primary: 211 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 48 100% 50%;
    --secondary-foreground: 215 25% 17%;
    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;
    --accent: 160 100% 21%;
    --accent-foreground: 0 0% 100%;
    --destructive: 355 78% 56%;
    --destructive-foreground: 0 0% 100%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 211 100% 50%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
